<html lang="en">
    
<head>
    <title>Charge Summary</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-store">
    {{> head_script}}
    <script src="/public/js/c_js_chargeSummary.js"></script>
    <script src="/public/autocomplete/jquery.autocomplete.js"></script>
    <link rel="stylesheet" href="/public/autocomplete/jquery.autocomplete.css">

    <meta name="decorator" content="default" />
</head>

<body>
    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong><span>Query Information</span></strong>
        </div>
        <div class="panel-body">

            <form id="searchForm" modelAttribute="hjInfo" action="/chargeSummary/query" method="post"
                class="form-horizontal">
                <label id="pagecount" class="hidden">{{pageCount}}</label>
                <input id="pageNo" name="pageNo" type="hidden" value="{{pageNo}}" />
                <div class="form-group">
                    <label for="methodType" class="col-sm-2 control-label">Charge Type</label>
                    <div class="col-sm-2">
                        <label id="lab_methodType" class="hidden">{{queryList.methodType}}</label>
                        <select class="form-control" id="methodType" name="hjInfoList[methodType]">
                            <option value="" label="All" />
                            <option value="1" label="Cash" />
                            <option value="2" label="Debit" />
                            <option value="3" label="Credit" />
                        </select>
                    </div>
                    <label for="firstDoc" class="col-sm-1 control-label">Doctor</label>
                    <div class="col-sm-2">
                        <label id="lab_firstDoc" class="hidden">{{queryList.firstDoc}}</label>
                        <select class="form-control" id="firstDoc" name="hjInfoList[firstDoc]">
                            <option value="" label="All" />
                            {{#doctor}}
                            <option>{{firstName}} {{lastName}}</option>
                            {{/doctor}}
                        </select>
                    </div>
                    <label for="name" class="col-sm-1 control-label">Patient</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control " id="name" name="hjInfoList[name]"
                            value="{{queryList.name}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="feeDate" class="col-sm-2 control-label">Charge Date</label>
                    <div class="col-sm-3">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='startDate' name="hjInfoList[startDate]"
                                value="{{queryList.startDate}}" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <label class="lable-set control-label">to</label>
                    <div class="col-sm-3">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='endDate' name="hjInfoList[endDate]"
                                value="{{queryList.endDate}}" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <label for="feeName" class="col-sm-1 control-label">Charger</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control " id="feeName" name="hjInfoList[feeName]"
                            value="{{queryList.feeName}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="flag" class="col-sm-2 control-label">Arrears</label>
                    <div class="col-sm-3">
                        <label id="lab_Arrears" class="hidden">{{queryList.flag}}</label>
                        <select class="form-control" id="Arrears" name="hjInfoList[flag]" value="{{queryList.flag}}">
                            <option value="" label="" />
                            <option value="1" label="Yes" />
                            <option value="2" label="No" />
                        </select>
                    </div>
                    <input id="btnSubmit" class="btn btn-primary" type="submit" onsubmit="return btnSubmit();"
                        value="Query" />
                </div>

            </form>
        </div>
    </div>
    <br />

    <table id="treeTable" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Charge No.</th>
                <th>Patient</th>
                <th>Tel</th>
                <th>Doctor</th>
                <th>Charge Date</th>
                <th>Total</th>
                <th>Received</th>
                <th>Change</th>
                <th>Owemoney</th>
                <th>Charge Type</th>
                <th>Charger</th>
                <th width="100px">Operating</th>
            </tr>
        </thead>
        <tbody>
            {{#each hjInfo}}
            <tr id="{{_id}}" pid="0">
                <td>
                    <a href="javascript:;" onclick="treeTableTrtoggle('{{_id}}');">{{_id.generationTime}}</a>
                </td>
                <td>
                    {{name}}
                </td>
                <td>
                    {{tel}}
                </td>
                <td>
                    {{firstDoc}}
                </td>
                <td>
                    {{feeDate}}
                </td>
                <td class="number green">
                    {{numFee}}
                </td>
                <td class="number" style="color: #000;">
                    {{inFee}}
                </td>
                <td class="number grey">
                    {{changeFee}}
                </td>
                <td class="number grey">
                    {{owemoney}}
                </td>
                <td>
                    {{methodType}}
                </td>
                <td>
                    {{feeName}}
                </td>
                <td>
                    <a
                        href="${ctx}/hj/hjInfo/form?chargesId=${hjInfo.chargesId}&&oldChargesId=${hjInfo.chargesId}&&id=${hjInfo.chargesId}&&feeType=${hjInfo.feeType}&&temp2=2"><span
                            style="color:red">补收</span></a></br>
                    <a
                        href="${ctx}/hj/hjInfo/form?chargesId=${hjInfo.chargesId}&&id=${hjInfo.chargesId}&&feeType=${hjInfo.feeType}&&temp2=2">重复收费</a></br>
                    <a
                        href="${ctx}/hj/hjInfo/form?chargesId=${hjInfo.chargesId}&&id=${hjInfo.chargesId}&&feeType=${hjInfo.feeType}&&temp2=1">费用修改</a></br>
                    <a href="javascript:void(0);" onclick="confirmx(this,'{{_id}}')">删除</a>
                </td>
            </tr>

            <tr id="1" pId="{{_id }}">
                <th colspan="3">Druge Name</th>
                <th colspan="2">Druge Type</th>
                <th colspan="2">Num</th>
                <th>Unit</th>
                <th>Price</th>
                <th colspan="2">Total</th>
                <th colspan="2">Group</th>
            </tr>
            {{#hjFeeInfoList}}
            <tr id="{{_id}}" pId="{{chargesId}}">
                <td colspan="3">
                    {{drugsName}}
                </td>
                <td colspan="2">
                    {{drugsSpec}}
                </td>
                <td colspan="2">
                    {{allNum}}
                </td>
                <td>
                    {{price1}}
                </td>
                <td>
                    {{drugsPrice}}
                </td>
                <td colspan="2">
                    {{numPrice}}
                </td>
                <td colspan="2">
                    {{groupId}}
                </td>
            </tr>
            {{/hjFeeInfoList}}
            {{/each}}
            <tr>
                <td colspan="15" style="text-align: right;width: 8%;">
                    <b>Total:</b>$<span class="number" id="t_total">{{Total.total}}</span>&nbsp;&nbsp;
                    <b>Total Received:</b>$<span class="number" id="t_received">{{Total.received}}</span>&nbsp;&nbsp;
                    <b>Total Owemoney</b>$<span class="number" id="t_owemoney">{{Total.owemoney}}</span>&nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination" id="pagination"></ul>
</body>

</html>