<html lang="en">

<head>
    <title>Daily Business Statement</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
    {{> head_script}}
    <script src="/public/js/f_js_dailyBusiness.js"></script>
</head>

<body>
    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong><span>Search Information</span></strong>
        </div>
        <div class="panel-body">
            <form id="searchForm"  action="/dailyBusiness/query" method="post"
                class="form-horizontal">
                <table class="table table-bordered table-condensed" style="margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td><label for="feeDate" class="col-sm-2 control-label">Charge Date</label>
                                <div class="col-sm-3">
                                    <div class='input-group date'>
                                            <input type='text' class="form-control" id='startDate' name="findInfo[startDate]" value="{{queryList.startDate}}"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div> 
                                </div>
                          
                                <label  class="lable-set control-label">to</label>
                                <div class="col-sm-3">
                                    <div class='input-group date'>
                                            <input type='text' class="form-control" id='endDate' name="findInfo[endDate]" value="{{queryList.endDate}}"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div> 
                                </div>
                            </td>
                            <td class="btns"><input id="btnSubmit" class="btn btn-primary" type="submit"
                                    value="Search" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            </div>
            </div>
            </br>
            <table id="contentTable" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Total Received</th>
                        <th>Total Owemoney</th>
                        <th>Total Cash</th>
                        <th>Total Card</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dailyInfo}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{totalNumFee}}</td>
                        <td>{{totalInFee}}</td>
                        <td>{{totalOwemoney}}</td>
                        <td>{{totalCash}}</td>
                        <td>{{totalCard}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                <td colspan="15" class="total-info">
                    <b>Total:</b>$<span class="number" id="t_total">{{#Total}}{{total}}{{/Total}}</span>&nbsp;&nbsp;
                    <b>Total Received:</b>$<span class="number" id="t_received">{{#Total}}{{received}}{{/Total}}</span>&nbsp;&nbsp;
                    <b>Total Owemoney</b>$<span class="number" id="t_owemoney">{{#Total}}{{owemoney}}{{/Total}}</span>&nbsp;&nbsp;
                </td>
            </tr>
                </tbody>
            </table>
</body>

</html>