<html lang="en">

<head>
    <title>Performance Summary Statement</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
    {{> head_script}}
    <script src="/public/js/f_js_performanceSummary.js"></script>
   
</head>

<body>
    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong><span>Search Information</span></strong>
        </div>
        <div class="panel-body">
    <form id="searchForm" modelAttribute="performanceSummary" action="/performanceSummary/query" method="post"
        class="form-horizontal">
        <div class="form-group">
            <label for="firstDoc" class="col-sm-1 control-label">Doctor</label>
            <div class="col-sm-2">
                <label id="lab_firstDoc" class="hidden">{{queryList.firstDoc}}</label>
                        <select class="form-control" id="firstDoc" name="findInfo[firstDoc]">
                            <option value="" label="All" />
                            {{#doctor}}
                            <option>{{firstName}} {{lastName}}</option>
                            {{/doctor}}
                        </select>
            </div>
        
            <label for="feeDate" class="col-sm-2 control-label">Charge Date</label>
            <div class="col-sm-2">
                <div class='input-group date'>
                    <input type='text' class="form-control" id='startDate' name="findInfo[startDate]"
                        value="{{queryList.startDate}}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <label class="lable-set control-label">to</label>
            <div class="col-sm-2">
                <div class='input-group date'>
                    <input type='text' class="form-control" id='endDate' name="findInfo[endDate]"
                        value="{{queryList.endDate}}" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btnSubmit" onsubmit="return btnSubmit();">Search</button>
            </div>
    </form>
    </div>
    </div>
    </br>
    <table id="contentTable" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Drug Type</th>
                <th>Total Type</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each summaryInfo}}
            <tr>
                <td>
                    {{firstDoc}}
                </td>
                <td>
                    {{drugType}}
                </td>
                <td class="number green">
                    {{totalIn}}
                </td>
                <td class="number" style="color: #000;">
                    {{total}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>