<html lang="en">

<head>
    <title>Drug Info</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    
    {{> head_script}}
    <script src="/public/js/d_js_drugInfo.js"></script>
</head>

<body>
    <ul id="myTab" class="nav nav-tabs">
        <li {{#if flag1}} class="active" {{/if}}><a href="#drugList" data-toggle="tab">Search Drug</a></li>
        <li {{#if flag2}}class="active" {{/if}}><a href="#drugAdd" data-toggle="tab">Add Drug</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade {{#if flag1}}in active{{/if}}" id="drugList">
            <form id="searchForm" modelAttribute="drugInfo" action="/drugInfo/query" method="post"
                class="breadcrumb form-search">
                <input id="pageNo" name="pageNo" type="hidden" value="${page.pageNo}" />
                <input id="pageSize" name="pageSize" type="hidden" value="${page.pageSize}" />
                <table class="table table-bordered table-condensed" style="margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td class="key"><label for="drugName">Drug Name</label></td>
                            <td><input type="text" class="form-control" id="drugName" name="drugName"></td>
                            <td class="key"><label for="drugType">Drug Type</label></td>
                            <td><input type="text" class="form-control" id="drugType" name="drugType"></td>
                            <td class="btns"><input id="btnSubmit" class="btn btn-primary" type="submit"
                                    value="Search" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <table id="contentTable" class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Drug Name</th>
                        <th>Drug Spec</th>
                        <th>Drug Type</th>
                        <th>Drug Unit</th>
                        <th>Drug Price</th>
                        <th>SC Date</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each drugInfo}}
                    <tr id="{{_id}}" pid="0">
                        <td><a href="/doctorInfo/update/{{_id}}">
                            {{drugName}}
                            </a></td>
                        <td>{{drugSpec}}</td>
                        <td>{{drugType}}</td>
                        <td>{{drugUnit}}</td>
                        <td>{{drugPrice}}</td>
                        <td>{{SCDate}}</td>
                        <td>{{Remark}}</td>
                        <td>
                            <span class="close" onclick="confirmx(this, '{{_id}}')" title="delete">&times;</span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade {{#if flag2}}in active{{/if}}" id="drugAdd">
            <form id="inputForm" modelAttribute="drugInfo" action="/drugInfo/save" method="post" class="form-horizontal">
                <form:hidden path="id" />
                <form:hidden path="serviceId" value="${fns:getUser().serviceId }" />
                <sys:message content="${message}" />
                <table class="table table-bordered table-condensed" style="margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td class="key"><label for="drugName">Drug Name</label><span style="color:red">*</span></td>
                            <td><input type="text" class="form-control" id="drugName">      
                                <input id="drugName" type="hidden" value="{{#drugData}}{{drugName}}{{/drugData}}" />
                                <input type="text" class="hidden " name="drugInfo[_id]"
                                value="{{#drugData}}{{_id}}{{/drugData}}" /></td>
                            <td class="key"><label for="drugType">Drug Type</label><span style="color:red">*</span></td>
                            <td><input type="text" class="form-control" id="drugType">
                                <input id="drugtype" type="hidden" value="{{#drugData}}{{drugType}}{{/drugData}}" /></td>
                        </tr>
                        <tr>
                            <td class="key"><label for="barCode">Bar Code</label></td>
                            <td><input type="text" class="form-control" id="barCode">
                                <input id="barCode" type="hidden" value="{{#drugData}}{{barCode}}{{/drugData}}" /></td>
                            <td class="key"><label for="drugSpec">Drug Spec</label></td>
                            <td><input type="text" class="form-control" id="drugSpec">
                                <input id="drugSpec" type="hidden" value="{{#drugData}}{{drugSpec}}{{/drugData}}" /></td>
                        </tr>
                        <tr>
                            <td class="key"><label for="drugUnit">Drug Unit</label></td>
                            <td><input type="text" class="form-control" id="drugUnit">
                                <input id="drugUnit" type="hidden" value="{{#drugData}}{{drugUnit}}{{/drugData}}" /></td>
                            <td class="key"><label for="drugPrice">Drug Price</label></td>
                            <td><input type="text" class="form-control" id="drugPrice">
                                <input id="drugPrice" type="hidden" value="{{#drugData}}{{drugPrice}}{{/drugData}}" /></td>
                        </tr>
                        <tr>
                            <td class="key"><label for="SCDate">SC Date</label></td>
                            <td><input type="text" class="form-control" id="SCDate">
                                <input id="SCDate" type="hidden" value="{{#drugData}}{{SCDate}}{{/drugData}}" /></td>
                            <td class="key"><label for="Remark">Remark</label></td>
                            <td><input type="text" class="form-control" id="Remark">
                                <input id="Remark" type="hidden" value="{{#drugData}}{{Remark}}{{/drugData}}" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="btns"></td>
                            <td><input id="btnSubmit" class="btn btn-primary" type="submit"
                                    value="Submit" />
                                <input id="btnCancel" class="btn btn-default" type="button" value="Return" onclick="history.go(-1)" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>

</html>